:root {
	--accent: #40c98d;
	--background: #27394a;
	--white: #FFFFFF;
	--fontSize: 14px;
}

body
{
	font-family: sans-serif;
	color: var(--accent);
	background-color: var(--background);
	padding: 3rem;
}

textarea,
input:not(type="checkbox") {
	padding: 1rem 2rem;
	min-width: 50vh;
}

select  {
	padding: .5rem 1rem;
	min-width: 15vh;
}

p {
	white-space: pre-line;
}

.white {
	color: var(--white);
}

.capitalize {
	text-transform: capitalize;
}

.button {
	background: var(--accent);
	padding: 1rem 2rem;
	border: none;
	font-size: var(--fontSize);
}

.block {
	display: block;
}

.margin-left-15 {
	margin-left: 15px;
}